.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  /* aspect-ratio: 4 / 3; */
  object-fit: cover;
}

.cards-wrapper .cards.block ul {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 1200px;
  overflow: hidden;
}

.cards.block img {
  min-width: 100px;
}

@media (width <= 768px) {
  .cards-wrapper .cards.block ul {
    flex-direction: column;

  }
}


