.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}
main :nth-child(10) .cards-wrapper .cards.block ul{
  grid-template-columns: repeat(7,1fr);
}
main :nth-child(12) .cards-wrapper .cards.block ul{
  grid-template-columns: repeat(5,1fr);
}
.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: cover;
}

.cards-wrapper .cards.block ul {
  /*display: flex;*/
  /* flex-wrap: wrap; */
  max-width: 1200px;
  overflow: hidden;
}

.cards.block img {
  min-width: 100px;
  border: 1px solid #dadada;
  border-radius: 10px;
}

@media (width <= 768px) {
  .cards-wrapper .cards.block ul {
    flex-direction: column;
    max-width: 100%;
}
}


