footer {
  padding: 0 2rem 2rem 2rem;
  background-color: #32496c;
  font: var(--type-body-2-default-font);
  font-size: medium;
  color: white;
  font-weight: normal;
}

footer .footer {
  height: 50vh;
  padding: 2rem 0;
}
footer .footer .wrapper{
  display: flex;
  margin: 4rem 0 0 14rem;
}
footer .footer .wrapper > .section:nth-child(2), footer .footer .wrapper > .section:nth-child(5), footer .footer .wrapper > .section:nth-child(7), footer .footer .wrapper > .section:nth-child(9), footer .footer .wrapper > .section:nth-child(12), footer .footer .wrapper > .section:nth-child(13) {
  flex: 1;
  width: auto;
  height: auto;
}
footer .footer .wrapper > .section> .default-content-wrapper{
  display: flex;
  flex-direction: column;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li picture img{
  height:20px;
  width: 20px;
}
footer .footer .wrapper > .section > .default-content-wrapper p{
  padding-bottom: 10px;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li a{
  color: white;
  font-size: 12px;
  font-weight: lighter;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li a:hover{
  color: #b59000;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li{
  color: white;
  font-size: 12px;
  font-weight: lighter;
}

footer .footer .wrapper > .section > .default-content-wrapper picture img{
  height: 150px;
  width: 150px;
}

@media (width <= 900px) {
  footer .footer {
    padding: 1rem 0;
  }
}


@media (width <= 900px) {
  footer .wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
}

@media (width <= 900px) {
  footer .wrapper .section.brand-logo {
    flex: unset;
  }
}


@media (width <= 900px) {
  footer .wrapper .section.site-links {
    flex: unset;
  }
}



@media (width <= 900px) {
  footer .wrapper .section.site-links .default-content-wrapper {
    margin: 0;
  }
}

@media (width <= 900px) {
  .footer .wrapper .section.social-media img {
    padding: 0.5em 0.5em 0.2em;
  }
}
