footer {
  padding: 2vw 2vw 2vw 2vw;
  background-color: #32496c;
  font: var(--type-body-2-default-font);
  font-size: medium;
  color: whitesmoke;
  font-weight: normal;
}

footer .footer {
  height: 50vh;
  padding: 2vw;
}
footer .footer .wrapper{
  display: flex;
  margin: 3vw 0 0 8vw;
  gap: 2vw;
}
footer .footer .wrapper > .section:nth-child(2), footer .footer .wrapper > .section:nth-child(5), footer .footer .wrapper > .section:nth-child(7), footer .footer .wrapper > .section:nth-child(9), footer .footer .wrapper > .section:nth-child(12), footer .footer .wrapper > .section:nth-child(13) {
  flex: 1 1 5vw;
  width: auto;
  height: auto;
}
footer .footer .wrapper > .section:nth-child(9){
  padding-right:0.1vw;
}
footer .footer .wrapper > .section> .default-content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.01vw;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li picture img{
  height:1vw;
  width: 1vw;
}
footer .footer .wrapper > .section > .default-content-wrapper p{
  padding-bottom: 1.2vw;
  font-size: 1.2vw;

}
footer .footer .wrapper > .section > .default-content-wrapper ul li a{
  font-size: 0.8vw;
  font-weight: lighter;
  color:whitesmoke;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li a:hover{
  color: #b59000;
  text-decoration: none;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li{
  color: whitesmoke;
  font-size: 0.8vw;
  font-weight: lighter;

}
footer .footer .wrapper > .section > .default-content-wrapper ul li::marker{
  content: none;
}
footer .footer .wrapper > .section > .default-content-wrapper picture img{
  height: 9vw;
  width: 9vw;
}


