footer {
  padding: 2vw 2vw 2vw 2vw;
  background-color: #2e4060;
  font: var(--type-body-2-default-font);
  font-size: medium;
  color: whitesmoke;
  font-weight: normal;
  height:500px;
}

footer .footer {
   /*height: 30em;*/
  padding: 5em 0;
}

footer .footer .wrapper {
  display: flex;
  position: relative;
  margin: 0 auto;
  gap: 2vw;
  width: 100%;
  max-width: 1200px;
}
footer .footer .wrapper > .section:nth-child(2), footer .footer .wrapper > .section:nth-child(5), footer .footer .wrapper > .section:nth-child(7), footer .footer .wrapper > .section:nth-child(9), footer .footer .wrapper > .section:nth-child(12), footer .footer .wrapper > .section:nth-child(13) {
  /* flex: 1 1 5vw; */
  width: auto;
  height: auto;
}
footer .footer .wrapper > .section:nth-child(9){
  padding-right:0.1vw;
}
footer .footer .wrapper > .section> .default-content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.01vw;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li picture img{
  height:1vw;
  width: 1vw;
}

footer .footer .wrapper > .section > .default-content-wrapper p {
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.footer .default-content-wrapper ul {
  margin: 0;
}

/* .footer .default-content-wrapper ul li:first-child{
  margin-top: 20px;
} */


footer .footer .wrapper > .section > .default-content-wrapper ul li a {
  font-size: 16px;
  font-weight: normal;
  color: whitesmoke;
  letter-spacing: normal;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li a:hover{
  color: #b59000;
  text-decoration: none;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li{
  font-size: 16px;
  font-weight: normal;
  color: whitesmoke;
  letter-spacing: normal;
}
footer .footer .wrapper > .section > .default-content-wrapper ul li::marker{
  content: none;
}
footer .footer .wrapper > .section > .default-content-wrapper picture img{
  height: 14vw;
  width: 14.5vw;
}

h3#sign-up-for-pet-updates {
  font-weight: 700;
  font-size: 26px;
  line-height: 2rem;
  text-transform: capitalize;
  color: #4d4d4d;
  letter-spacing: normal;
  line-height: 130%;
}



.form.email-subscription.block .form-info p {
  font-size: 14px;
  letter-spacing: normal;
  color: #4d4d4d;
}


footer .footer .wrapper > .section > .default-content-wrapper ul li a {
  font-size: 14px;
}

.footer.block .default-content-wrapper p {
  margin-bottom: 20px !important;
}

.footer.block  .default-content-wrapper p+ul li {
  font-size: 14px !important;
  /* margin-bottom: 20px; */
}


@media (width <= 1024px) {
 footer {
  height: auto;
 }


 footer .footer .wrapper {
  flex-direction: column;
 }


footer .footer .wrapper > .section > .default-content-wrapper picture img {
  height: auto;
  width: 100%;
  max-width: 250px;
}

.footer.block .section {
  margin-top: 20px;
}

footer .footer {
  padding: 20px 20px;
}
}

